*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(360deg, #553721, #3d220c);
    font-family:Arial, Helvetica, sans-serif;
}
.heroBg{
    width: 100%;
    max-width: 1354px;
    height:100vh;
    
}
.header_items{
    width: 100%;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
}
.header_logo .logo{
    width: 80px;
    height: 80px;   
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    border: 1.5px solid #a6814c;
    border-radius: 15px;
}
.header_logo .logoName{
    color: #a6814c;
    transform: translate(40px ,-20px);
}
.header_nav{
    position: fixed;
    top: 30px;
    left: 30%;
}
.header_nav nav ul li{
    display: inline-block;
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
}
.header_nav nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
   
}
.header_nav nav ul li a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #a6814c;
    transition: width .3s;
    
}
.header_nav nav ul li a:hover::after{
    width: 100%;
}
.header_nav nav ul li a i{
    color: #a6814c;
    margin-right: 7px;
}
.header_items .signinBtn{
    color: #fff;
    background-color: transparent;
    border:1.5px solid #a6814c;
    border-radius: 15px;
    font-size: 18px;
    width: 120px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.header_items .signinBtn:hover{
    background-color: #553721;
}
.header_items .menuBars {
    border: 1px solid #a6814c;
    width:40px;
    height: 40px;
    margin-top: 20px;
   border-radius: 5px;
   display: none;
}
.header_items .menuBars span i{
    color: #fff;
    text-align: center;
    margin: 3px 5px;
    
}
header .catchyText{
    position: absolute;
    top: 200px;
    left :170px;
    color: #fff;
    font-size: 35px;
}
header .catchyText label{
    color: #a6814c;
    font-size: 55px;
}
header .catchyText span{
    margin-left: 230px;
    margin-top: 15px;
    font-size: 40px;
    color: #a6814c;
}
header .header_action{
    position: absolute;
    top: 300px;
    left: 190px;
    color: #fff;
    width: 450px;
}
header .header_action .funFact{
    font-size: 20px;
    line-height: 30px;

}
header .header_action .funFact .funFact_letter{
    color: #a6814c;
    font-size: 55px;
    text-decoration: none;
}
header .header_action .funFact span{
    font-size: 27px;
    color: #553721;
}
header .header_action .funFact .lastpart{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}
header .header_action .actionBtn{
    float: right;
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #a6814c;
    color: #553721;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease-in;
}
header .header_action .actionBtn:hover{
    background-color: transparent;
    border: 1px solid #a6814c;
}

header .img{
    position: absolute;
    top: 250px;
    right: 120px;
    width: 300px;
   height: 300px;
   transition: transform .4s ease;
}
header .img:hover{
    transform: translateY(-10px);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3d220c;
    clip-path: circle(600px at right 900px);
}
.socialsbx{
    position: absolute;
    top: 350px;
    right: 20px;
   
}
.socialsbx .social i{
    color: #a6814c;
    width: 40px;
    height: 40px;
    transition: .4s ease;
}
.socialsbx .social i:hover{
    transform: translateX(-5px);
}
.customersbx{
   position: absolute; 
   top: 550px;
   right: 240px;
  
}

.customersbx img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -15px;
    transition: .4s ease;
}
.customersbx img:hover{
    transform: translateY(-10px);
}
.customersbx span i{
    color: #a6814c;
    transform: translateY(-5px);
    margin-left: -7px;
    transition: .4s ease;
}
.customersbx span i:hover{
    transform: translateX(5px);
   
}
.customersbx h5{
    color: #553721;
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: #a6814c;
}
.login{
    position: absolute;
    top: 170px;
    left: 800px;
    display: none;
}
.login.popup{
    display: block;
}
.loginForm{
width: 370px;
border: 1px solid #3d220c;
border-radius: 15px;
box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
backdrop-filter: blur(20px);
background-color: transparent ;
display: flex;
position: relative;
overflow: hidden;
padding-bottom: 10px;
transition: min-height .3s ease-in;
}

.loginForm .login-singin{
    width: 100%;
}
.loginForm.swipe{
    min-height: 320px;
    
}
.loginForm.swipe .login-singin{
    transform: translateX(-400px);
    transition: none;
}
.loginForm .login-signup{
    width: 100%;
    transform: translateX(400px);
    position: absolute;
    
}
.loginForm.swipe .login-signup{
    transform: translateX(0);
}
.loginForm .closeIcon{
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px ;
    border: 1px solid #553721;
    border-top-right-radius:15px ;
    border-bottom-left-radius: 15px;
    text-align: center;
    overflow: hidden;
}
.loginForm .closeIcon i{
    line-height: 40px;
    color: #a6814c;
}
.loginForm form h2{
    font-weight: 900;
    margin: 10px 0;
    color: #a6814c;
    text-align: center;
}
.loginForm form .input-group{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid ;
    margin-bottom: 10px;
}
.loginForm form .input-group label{
    font-size: 22px;
    font-weight: 800;
    position: absolute;
    transform: translateY(-40%);
    color: #553721;
    left: 10px;
}
.loginForm form .input-group input{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    overflow: hidden;
    font-size: 19px;
    color: #a6814c;
    margin-left: 8px;
}
.loginForm form .input-group span{
    position: absolute;
    right: 10px;
   top: 10px;
   color: #553721;
}
.loginForm form #checkbox{
    accent-color:#553721;
}
.loginForm form .checkLabel{
    color: #553721;
    font-size: 18px;
    font-weight: 600;

}
.loginForm form a{
    display: block;
    font-size:20px ;
    text-align: center;
    margin:10px 0 ;
}
.loginForm form .btn{
    width: 95%;
    height: 40px;
    text-align: center;
    background-color: #a6814c;
    color: #3d220c;
    border: none;
    border-radius: 15px;
    margin: 5px;
    font-size: 19px;
    transition: all .4s;
}
.loginForm form .btn:hover{
    background-color: transparent;
    border: 1px solid #a6814c;
}
@media (max-width: 620px){
    body{
        background-image: linear-gradient(360deg, #553721, #3d220c);
        min-height: 100vh;
        width: 100%;
        max-width: 620px;
    }
    .header{
        position: relative;
        min-height: 100vh;
    }
    .header_items{
        max-width: 100%;
    }
    .heroBg{
        position: absolute;
        top: 100px;
        left: 0;
        max-width: 620px;
        height: 300px;
    }
    .header_nav{
        width: 100%;
        max-width: 100%;
        display: none;
        position: absolute;
        left: 0;
        top: 90px;
        background-color: #fff;
        border-bottom: 1px solid #553721;
        padding-bottom:10px ;
    }
    .header_nav.show{
        display: block;
    }
    .header_nav nav ul li{
        display: block;
        text-align: center;
    }
    .header_nav nav ul li a{
        color: #a6814c;
    }
    .header_nav nav ul li a::after{
        content: none;
    }
    .header_items .menuBars{
        display: block;
    }
    .header_items .signinBtn{
    
        background-color: #a6814c;
        border:1.5px solid #a6814c;
        border-radius: 15px;
        font-size: 18px;
        width: 110px;
    }
    .circle{display: none;
    }
    .customersbx{
        top: 350px;
        right: 50%;
    }
    .socialsbx{
        display: none;
    }
    
    header .catchyText{
        position: relative;
        top: 390px;
        left :10px;
        color: #fff;
        font-size: 25px;

    }
    header .catchyText label{
        font-size: 40px;
    }
    header .catchyText span{
        margin-left: 130px;
        margin-top: 15px;
        font-size: 30px;
    }
    header .header_action{
        position: relative;
        top: 400px;
        left: 15px;
        color: #fff;
        max-width: 100%;
    }
    header .header_action .funFact{
        font-size: 18px;
        line-height: 25px;
    
    }
    header .header_action .funFact .funFact_letter{
        font-size: 45px;
    }
    header .header_action .funFact span{
        font-size: 27px;
        color: #a6814c;
    }
    header .header_action .funFact .lastpart{
        font-size: 18px;
        margin-left: 10px;
    }
    header .header_action .actionBtn{
        float: right;
        width: 120px;
        height: 40px;
        border-radius: 50px;
        background-color: #a6814c;
        color: white;
        font-size: 19px;
        margin-top: 5px;
        transition: all .3s ease-in;
    }
    header .header_action .actionBtn:hover{
        background-color: transparent;
        border: 1px solid #a6814c;
    }
    .login{
        position: absolute;
        top: 90px;
        left: 0;
    }
    .login.popup{
        display: block;
    }
    .loginForm{
    max-width: 400px;
    border: 1px solid #3d220c;
    border-radius: 15px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
    backdrop-filter:0;
    background-color: white ;
    display: flex;
   
    }
    header .img{
        display: none;
    }
} 